p {
	text-align: left;
	margin: .25em;
}
p.standard-indented {
	text-indent: 1.5em;
}
p.standard-noindent { }
p.blockquote-indented {
	margin: 0em 3.25em;
	text-indent: 1.5em;
}
p.blockquote-noindent {
	margin: 0em 3.25em;
}
p.poem-indented {
	font-style: italic;
	margin: 0em 3.25em;
	text-indent: 1.5em;
}
p.poem-noindent {
	font-style: italic;
	margin: 0em 3.25em;
}
p.poem-source {
	font-style: italic;
	margin: 0em 5.25em;
	text-align: right;
}
p.page {
	text-align: center;
}
p.center, p.bibletext, p.thoughtbreak {
	text-align: center;
}
p.devotionaltext {
	font-weight: bold;
	text-align: center;
}
p.right, p.signatureline {
	text-align: right;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
}
h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 1.9em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
hr.footnote {
	width: 35%;
height: .06em;
text-align: left;
color: #000000;
}
span.pagebreak {
	color: #9D0A0A;
}
em {
	font-weight: inherit;
	font-style: italic;
}
.chapter {
	page-break-before: always;
}
.chapterhead, .sectionhead {
	text-align: center;
	padding-top: 1.6em;
	margin-bottom: 1.2em;
}
